.col-8 {
    margin-top: 2%;
}

button {
    font-family: 'Kalam', cursive;
    font-size: 16px;
}

label {
    font-family: 'Kalam', cursive;
    font-size: 16px;
}

input {
    font-family: 'Kalam', cursive;
    font-size: 16px;
    margin-bottom: 10px;
}